/*newsEvent*/
	#contents h2{ margin:14px 0 22px 50px;}
	#news{
		background:#cabce0 url(../images/bg_newsEvent_btm.gif) no-repeat left bottom;
		padding-bottom:22px;
		width:952px;
		margin:0 auto;
	}
	#newsIn{
		background:url(../images/bg_newsEvent_top.gif) no-repeat left top;
		padding:15px 0 0 5px;
	}
	#news .item{ 
		float:left;
		position:relative;
		 width:311px; 
		overflow:hidden;
		background:#fff url(../images/bg_newsItem2.gif) no-repeat left bottom;
		margin-right:3px;
	}
	#news .item a{display:block; margin-bottom:10px}
	#news .item h3{ color:#313330; font-weight:bold; line-height:25px; padding:0 15px;}
	#news .item p {color:#a2a2a2;line-height:13px; margin-bottom:12px; padding:0 15px;}
	
	#pagination{
		width:952px;
		margin:0 auto;
	}	
	#pagination ul{
		float:right;
		margin:7px 0;
	}	
	#pagination li{
		float:left;
		width:18px;
		height:18px;
		text-align:center;
	}	
	#pagination li a{
		display:block;
		color:#8a65c4;
		text-decoration:none;
	}	
	#pagination li a.current{
		color:#fff;
		background:url(../images/bg_pagination01.gif) no-repeat 0 0;
	}
	#pagination li a:hover,
	#pagination li a.current:hover{
		color:#fff;
		background:url(../images/bg_pagination01.gif) no-repeat 0 0;
	}