/* !program
---------------------------------------------------------- */
#series{
	margin:12px auto 19px;
	width:978px;
}
	
#calendarWrap{
  background:url(../images/bg_program01_bottom.gif) no-repeat left bottom;
  margin:0 auto;
  padding-bottom: 22px;
  width:978px;
}
	#calendarWrap .heading{
		color:#eb4c98;
		font-size:50px;
		line-height:30px;
		margin:0 0 5px 14px;
	}
		#calendarWrap #calendarIn{
			background:#f181b7 url(../images/bg_program01_top.gif) no-repeat left top;
			width:968px;
			padding:32px 5px 0;
		}
			#calendarWrap #calendar{
				background:#fff;
				padding:1px;
			}
				#calendarWrap ul{}
					#calendarWrap li{
						float:left;
						width:137px;
						height:118px;
						margin:0 1px 1px 0;
						background:#fff url(../images/bg_calendarThumb01.gif) no-repeat 0 0;
					}
						#calendarWrap li a{
							display:block;
						}

							#calendarWrap li a img{}
#varietyWrap{}
	#varietyWrap .heading{
		color:#eb4c98;
		font-size:44px;
		line-height:44px;
		position:absolute;
		top:-34px;
		left:15px;
	}
		#variety{
			width:804px;
			height:400px;
			margin:48px auto 27px;
			 padding:31px 0 0 107px; 
			background:url(../images/bg_programVariety01.gif) no-repeat 0 0;
			position:relative;
		}
			#variety .category{
				height:54px;
				width:857px;
				padding-left:20px;
				position:absolute;
				top:378px;
				left:18px;
				background:url(../images/bg_category.png) no-repeat 0 0;
			}
			#variety .category ul{}
			#variety .category li{
				float:left;
				text-align:center;
			}
			#variety .category li a{
				display:block;
				color:#fff;
				line-height:45px;
				text-decoration:none;
				font-size:19px;
				padding:0 7px;
			}
			#variety .category li a:hover{
				color:#eb4c98;
				background-color:#fff;
			}
			
			#slidesVariety {
			  display: none;
			  position:relative;
			  width:695px;
			  height:330px;
			}
			
				#slidesVariety .slidesjs-navigation {
				  position:absolute;
				  z-index:99;
				  top:135px;
				  width:65px;
				  height:0;
				  padding-top:65px;
				  overflow:hidden;
				  background-image:url(../images/btn_programPrevNext.png);
				  background-repeat:no-repeat;
				}
				#slidesVariety .slidesjs-pagination{
					display:none;
				}
				
					#slidesVariety .slidesjs-previous {
					  left:-122px;
					  background-position:left top;
					}
					#slidesVariety .slidesjs-previous:hover {
					  left:-122px;
					  background-position:left bottom;
					}
					
					#slidesVariety .slidesjs-next {
					  left:765px;
					  background-position:right top;
					}					
					#slidesVariety .slidesjs-next:hover {
					  left:765px;
					  background-position:right bottom;

					}
					
/* !program detail
---------------------------------------------------------- */
#movie{
	margin:12px auto 0;
	width:978px;
}
#movieDetail{
  margin: 0 auto;
  width:978px;
  background:url(../images/bg_movieDetail01.gif) repeat-y 0 0;
  padding-top:36px;
}
#movieDetail .cover {
    display: inline;
    float: left;
    margin:0 90px 12px 77px;
}
#movieDetail h3{
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	margin:15px 0;
}
#movieDetail p{
	font-family:Tahoma, Geneva, sans-serif;
}
